.page-main {
    display: flex;
    justify-content: center;
    font-family:Arial, Verdana, sans-serif;
}


.page-section {
    border: 1px solid #000;
    padding: 30px ;
    background-color:rgb(233, 230, 222);
    border-right-style: none;
}
.page-right {
    width: 600px;
    border: 1px solid #000;
    padding: 0 30px ;
    background-color:rgb(252, 251, 248);
    border-left-style: none;
    position: relative;
}
.h1 {
    text-align: left
}

.p {color: rgb(44, 42, 42)}
.h1 {color:rgb(183, 165, 115)}
.h2 {color:rgb(183, 165, 115)}

body {
    background-color:rgb(244, 243, 236);
    display: block;
    margin: auto;
}

.code {
    text-align: left;
    font-size: 14px;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.footer-rs {
    width: 120px;
    height: 45px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-year {
    font-size: 25px;
}
.pre {
    background-color: rgb(233, 230, 222);
}